<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aidan.tilegameredo">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/yellowbox"
        android:label="@string/app_name"
        android:roundIcon="@drawable/yellowbox"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".GameScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="tilegame"
                    android:host="play"
                    android:pathPrefix="/"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tilegame"
                    android:host="play"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".LoadingScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".levelEditor.LevelEditorScreen"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".SelectorScreen"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="false"></activity>
        <activity
            android:name=".EndScreen"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".HomeScreen"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>